.button{
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    width: 40px;
    margin: 2px 2px 2px 2px;
}
.bottom_left_buttons1 {
    position: absolute;
    bottom: 50px;
    left: 5px;
    width: 10%;
    max-width: 125px;
    min-width: 100px;
}
.bottom_left_buttons2 {
    position: absolute;
    bottom: 50px;
    left: 140px;
    width: 11%;
    max-width: 200px;
    min-width: 150px;
}
.bottom_left_buttons3 {
    position: absolute;
    bottom: 140px;
    left: 10px;
    width: 20%;
    max-width: 350px;
    min-width: 150px;
}
.bottom_left_buttons1_button, .bottom_left_buttons2_button, .bottom_left_buttons3_button{
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    background-color: orange;
    color: #080710;
    font-weight: 60;
    cursor: pointer;
    font-family: 'Papyrus', Fantasy;
}
