<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Let's Bang Signup Page</title>
    <link rel="stylesheet" type="text/css" href="/signup.css">
</head>
<body>
    <form action="/signup" method="post">
        <h3>Sign Up</h3>
        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Name" id="username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <br>
          <input type="submit" class="submitbon" value = "Create Account">
    </form>
    <a href='login'>
        <button class="go">Go Back</button>
    </a>  
</body>
</html>