.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0px;
    font-family: Arial, sans-serif;
    background-image: url("/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.center_image_img {
    width: 600px;
    height: 250px;
    max-width: 100%;
    /* Set the maximum width for the image */
    max-height: 100%;
    margin-top: auto;
    /* Push the image to the top */
    margin-bottom: auto;
    /* Push the image to the top */
    /* Set the maximum height for the image */
}

.container {
    width: 40%;
    /* Set the desired width of the box */
    height: 100%;
    /* Set the desired height of the box */
    border-radius: 20px;
    background-color: rgba(184, 184, 184, 0.5);
    padding: 20px;
}

.backbutton {
    background-color: #75aeff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.backbutton:hover {
    background-color: #ff4d4d;
}

.backbutton:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
}

.playerInfo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
}

.playerInfo_img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}



/* .container {
   
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.storeitems {
    /* Add spacing and alignment to the store items */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
   
}

.friend {
    display: flex;
    
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.friendName {
    margin-right: 100px;
}

.removeButton {
    /* Style for the remove friend button */
    padding: 8px 16px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
        right: 530px;
        /* Adjust the width to fit your timestamps */
        
}

.removeButton:hover {
    background-color: #cc0000;
}



