<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
    <div class="center-image">
        <img src="./2.png" alt="Main Image">
    </div>
    <div id="playerInfo">
        <img src="./meme.png" alt="Player Icon">
        <div>
            <p id="playerID">ID: 00001</p>
            <p id="userName">12334</p>
        </div>
    </div>
    <br> 
    <button class="button" onclick="alert('PVP')">PVP</button>
    <button class="button" onclick="alert('PVC')">PVC</button>
    <button class="button" onclick="alert('Store')">Store</button>
    <button class="button" onclick="alert('Quit')">Community</button>
    <a href = 'login'>
      <button class="button" >Quit</button>
    </a>    
    <div class="version-id">V0.0.0</div>
</body>
</html>