<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Let's Bang Login Page</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
    <form action="/login" method="post">
        <h3>Login</h3>
        <label for="username">Email</label>
        <input type="text" name="name" placeholder="Name" id="username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <br>
        <input type="submit" class="submitbon" value = "Login">
    </form>
    <a href='signup'>
        <button class="go">Register Here</button>
    </a>    
</body>
</html>