.playerInfo {
    display: flex;
    align-items: center;
}
.playerInfo_img {
    margin-right: 10px;
}
.button {
    border: none;
    padding: 0;
    display: inline-block;
    background: none;
    font-size: 50px;
    margin: 10px;
}
.button:hover {
    background: white;
    opacity: 0.5;
    cursor: pointer;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("/background2.png"); 
    background-size: cover;
    background-repeat: no-repeat;
}
.playerInfo {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
}
.playerInfo_img {
    width: 50px;
    height: 50px;
}
.version_id {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 12px;
}
.center_image {
    display: flex;
    justify-content: center;
}

.center_image_img {
    width: 150%; /* Adjust this to change the image size */
    max-width: 600px; /* Adjust this to set a maximum size for the image */
}
